root = true

[*.{c++,cc,cpp,cppm,cxx,h,h++,hh,hpp,hxx,inl,ipp,ixx,tlh,tli,xml,xsd}]

trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = CRLF
indent_style = space
indent_size = 4

